


/*cosas fancy (?*/
body {
	background: #1b1b1e;

}

p {
    color: #666;
    font-family: Helvetica,Arial,sans-serif;
}

.port {

	width: 100%;
	height: auto;
	text-align: center;
	text-transform: uppercase;
	color: white;

}

.port p {
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	position: absolute;
	top: 300%;
	left: 25%;
	font-size: 60px;
	text-shadow: 0 0 80px rgba(255,255,255,.5);
}

.first {
	color: white;
	font-size: 20px;
}

/*Dialogos*/
.shizu {
	color: #625290;
}

.sthink {
	color: #ABA2D9;
}

.yuri {
	color: #FDDF60;
}

.band {
	color: #2E551F;
}